#footer-wrap
  if theme.footer.owner.enable
    - var now = new Date()
    - var nowYear = now.getFullYear()
    if theme.footer.owner.since && theme.footer.owner.since != nowYear
      .copyright!= `&copy;${theme.footer.owner.since} - ${config.author} - ${nowYear}`
    else
      .copyright!= `&copy;${nowYear} By ${config.author}`
  if theme.footer.copyright
    .framework-info
      span= _p('footer.framework') + ' '
      a(href='https://hexo.io')= 'Hexo'
      span.footer-separator |
      span= _p('footer.theme') + ' '
      a(href='https://github.com/jerryc127/hexo-theme-butterfly')= 'Butterfly'
  if theme.footer.custom_text
    .footer_custom_text!=`${theme.footer.custom_text}`

  //- 底部信息
  .github-badge
    a(style='color:#fff', rel='external nofollow noopener noreferrer', href='https://hexo.io/', target='_blank', title='Power By Hexo', data-pjax-state='')
      span.badge-subject Framework
      span.badge-value.bg-blue Hexo

  .github-badge
    a(style='color:#fff', rel='external nofollow noopener noreferrer', href='https://github.com/jerryc127/hexo-theme-butterfly', target='_blank', title='主题', data-pjax-state='')
      span.badge-subject Theme
      span.badge-value.bg-blueviolet Butterfly

  .github-badge
    a(style='color:#fff', rel='external nofollow noopener noreferrer', href='https://gitee.com/Weidows/Weidows', target='_blank', title='静态网页托管于 Github + Gitee', data-pjax-state='')
      span.badge-subject Hosted
      span.badge-value.bg-brightgreen Github + Gitee-Pages

  .github-badge
    a(style='color:#fff', rel='external nofollow noopener noreferrer', href='https://www.jsdelivr.com/', target='_blank', title='jsDelivr + SM.MS 提供 CDN 加速服务', data-pjax-state='')
      span.badge-subject CDN
      span.badge-value.bg-orange JsDelivr + SM.MS

  .github-badge
    a(style='color:#fff', rel='external nofollow noopener noreferrer', href='http://creativecommons.org/licenses/by-nc-sa/4.0/', target='_blank', title='本站点采用知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议进行许可', data-pjax-state='')
      span.badge-subject
        i.fa.fa-copyright
      span.badge-value.bg-gradient BY-NC-SA 4.0

  .github-badge
    a(style='color:#fff', rel='external nofollow noopener noreferrer', href='http://www.beian.miit.gov.cn/', target='_blank', title='备案', data-pjax-state='')
      span.badge-subject 冀ICP备
      span.badge-value.bg-orange 2333-3号

  //- .github-badge
    //-   span.badge-subject BugSite上线
    //-   a#running-time(style='text-decoration: none;color: rgb(255, 255, 255);background: rgb(77, 200, 32);padding: 4px 4px 4px 6px;--darkreader-inline-color: #ffffff;--darkreader-inline-bgimage: initial;--darkreader-inline-bgcolor: #1db000;', rel='external nofollow noopener noreferrer', href='#', target='_self', data-pjax-state, data-darkreader-inline-color, data-darkreader-inline-bgimage, data-darkreader-inline-bgcolor) 0 年 45 天 6 时 50 分 8 秒
    //- #running-time
    //-   script.
    //-     setInterval(() => {
    //-             let create_time = Math.round(
    //-               new Date("2020-08-14 17:30:00").getTime() / 1000
    //-             );
    //-             let timestamp = Math.round(
    //-               (new Date().getTime() + 8 * 60 * 60 * 1000) / 1000
    //-             );
    //-             let second = timestamp - create_time;
    //-             let time = new Array(0, 0, 0, 0, 0);
    //-             if (second >= 365 * 24 * 3600) {
    //-               time[0] = parseInt(second / (365 * 24 * 3600));
    //-               second %= 365 * 24 * 3600;
    //-             }
    //-             if (second >= 24 * 3600) {
    //-               time[1] = parseInt(second / (24 * 3600));
    //-               second %= 24 * 3600;
    //-             }
    //-             if (second >= 3600) {
    //-               time[2] = parseInt(second / 3600);
    //-               second %= 3600;
    //-             }
    //-             if (second >= 60) {
    //-               time[3] = parseInt(second / 60);
    //-               second %= 60;
    //-             }
    //-             if (second > 0) {
    //-               time[4] = second;
    //-             }
    //-             currentTimeHtml =
    //-               time[0] +
    //-               " 年 " +
    //-               time[1] +
    //-               " 天 " +
    //-               time[2] +
    //-               " 时 " +
    //-               time[3] +
    //-               " 分 " +
    //-               time[4] +
    //-               " 秒";
    //-             document.getElementById("running-time").innerHTML = currentTimeHtml;
    //-           }, 1000);
